@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
:root {
  --animation: 2;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #101010;
  color: white;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

section {
  margin-bottom: 3rem;
}

ol {
  max-width: 350px;
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
  font-size: .9rem;
}

ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
}

ol li::before {
  content: counter(my-awesome-counter);
  color: #fcd000;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  --size: 1.5rem;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  transform: rotate(-10deg);
  background: black;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #999;
}

ol li a {
  text-decoration: none;
  color: white;
}